.home__form {
  display: flex;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
}

.home__input,
.home__button {
  font-size: 1.2rem;
  border: 3px solid #000000;
}

.home__input {
  width: 80%;
  background-color: #ffffff;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: left;
  text-indent: 1em;
}

.home__button {
  width: 130px;
  background-color: transparent;
  color: inherit;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.3em;
}

.home__button--img {
  width: 25px;
  transition: transform 3s;
  animation: rotate-animation 5s infinite linear;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
