.home {
  height: 100vh;
  display: flex;
  text-align: center;
  padding: 2em;
  background-image: url('../../Fondo Web.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.home__container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.home__title {
  max-width: 500px;
  padding-bottom: 2em;
}

.home__greeting {
  letter-spacing: 0.1em;
}

.home__text {
  padding-bottom: 2em;
}

.home__mainImg {
  margin-right: 30px;
  width: 180px;
}

.home__footerImg {
  width: 80%;
  position: absolute;
  bottom: 3em;
}